/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.pagination button {
    width: 50px;
    background-color: white;
    color: black;
    border: 1px solid rgba(73, 107, 107, 0.437);
    margin-left: 0px;

}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 10px;
}

input[type="text"],
input[type="datetime-local"],
button {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input {
    margin-left: 15px;
}

button {
    color: #fff;
    cursor: pointer;
    background-color: rgba(73, 107, 107, 0.437);
    transition: background-color 0.3s ease;
    width: 120px;
    margin-left: 15px;
}
H2 {
    color: rgba(73, 107, 107, 0.437);
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;

}

li {
    border-bottom: 1px solid #eee;
    display: grid;
    gap: 1%;
    grid-template-columns: 78% 10% 10%;
}

#actorsList {
    margin-top: 20px;
}
